<div class="left-panel">
  <h3>Navigation Menu</h3>
  <div class="nav-section">
    <div 
      *ngFor="let item of menuItems" 
      class="nav-item"
      [class.active]="selectedItem === item.label"
      (click)="onItemClick(item)"
      [attr.data-role]="item.roles[0]">
      <span class="nav-icon">
        {{ getIconForLabel(item.label) }}
      </span>
      <span class="nav-label">{{ item.label }}</span>
    </div>
  </div>
  
  <div class="panel-info">
    <p>Use the navigation to switch between different sections of the application.</p>
  </div>
</div>