<html>
  <body>

   {{title}}  - {{ name }}  {{stateName}}

 <div class="form-container">
    <h2>Address Collection</h2>

    <form>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>

      <label for="mobile">Mobile Number:</label>
      <input type="tel" id="mobile" name="mobile" required>

      <label for="flat">Flat / House:</label>
      <input type="text" id="flat" name="flat" required>

      <label for="city">City:</label>
      <input type="text" id="city" name="city" required>

  <button      [hidden]="!displayVar" type="submit">Submit</button>


    </form>
  </div>

     <div>
       <button (click)="showMessage()"   [style.backgroundColor] = "bgColor" [style.color]="colorName">Show</button>
    </div>
    </body>

    </html>

    <!-- [hidden]="!showSubmitButton" -->