<html>
  <body>

   {{title}}  - {{ name }}  {{stateName}}

 <div class="form-container">
  <h2>Address Collection</h2>

  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" ngModel required>

    <label for="mobile">Mobile Number:</label>
    <input type="tel" id="mobile" name="mobile" ngModel required>

    <label for="flat">Flat / House:</label>
    <input type="text" id="flat" name="flat" ngModel required>

    <label for="city">City:</label>
    <input type="text" id="city" name="city" ngModel required>

    <button type="submit">Submit</button>
  </form>
</div>

<div *ngIf="isSubmitted">
  
<div *ngIf="cityResult;then welcome else outside">
  
</div>

</div>

<ng-template #welcome>
         <h2>welcome to college</h2>      
    </ng-template>

  <ng-template #outside>
         <h2>You are from out side</h2>      
    </ng-template>


     <div>
       <button  [hidden]="!displayVar" (click)="showMessage('Silicon')"   [style.backgroundColor] = "bgColor" [style.color]="colorName">Show</button>
    </div>

    <div *ngIf="localPeople;then usa else china">
    
    
    </div>

    <ng-template #china>
         <h2>Chaina</h2>      
    </ng-template>

    <ng-template #usa>
         <h2>USA</h2>      
    </ng-template>

    {{name}}

<div>
  <input type="text" [(ngModel)]="userName" placeholder="Enter your name">username</div>

  {{userName}}

   <div>
    <div *ngFor="let i of studentArrayData">
    <div *ngIf="i.age < 30">
      Name: {{ i.name }}, Age: {{ i.age }}, City: {{ i.city }}
    </div>
  </div>
</div>

   <ng-template #showData>
         <h2>Chaina</h2>      
    </ng-template>



    </body>

    </html>

    <!-- [hidden]="!showSubmitButton" -->