<div class="profile-wrapper">
  <div class="profile-card">
    
    <div class="glow"></div>

    <img src="assets/images/arya2.jpg" alt="Arya" class="avatar">

    <h2>Arya</h2>
    <p class="role">Fullstack Developer</p>

    <p class="bio">
      Creative UI/UX enthusiast and Angular developer.
      Loves animations, clean design & interactive websites 💡
    </p>

    <div class="social-icons">
      <i class="fab fa-github"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-instagram"></i>
    </div>

    <button class="btn">Explore Profile</button>

  </div>
</div>
